html
	head
		title DIVA APP
		link(rel='stylesheet', href='/css/app.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

	body
		div#root
	
		script(src='/js/app.js')
