.node {
    cursor: pointer;
  }

.overlay{
      /*background-color:#EEE;*/
      /*margin: 30px;*/
  }
   
.node circle {
    fill: #fff;
    stroke: #2196f3;;
    stroke-width: 2.5px;
  }
   
.node text {
    font-size:14px; 
    font-family:sans-serif;
  }
   
.link {
    fill: none;
    /*stroke: #ccc;*/
    stroke:grey;
    stroke-width: 2px;
  }

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

.ghostCircle.show{
      display:block;
  }

.ghostCircle, #zoom .activeDrag .ghostCircle{
       display: none;
  }

body {
   /*overflow:hidden;*/
   margin:0;
}

text {
  font-family: sans-serif;
  /*pointer-events: none;*/
}

#div_graph{
  position: absolute;
  /*z-index: 1;*/
  overflow: hidden !important;
}


#div_table{
  /*background-color:#e5f5f9;  //#7FFFD4;*/
  float:left;
  /*width: 47%;*/
  width:auto;
  height: 900px;
  /*position:absolute;*/
  /*margin: 20px;*/
  padding: 5px;
  /*z-index: 200;*/
  /*visibility: hidden;*/
  overflow:scroll;
  /*border:10px solid #99d8c9;*/
  
}

  .report_table{
    /*width:100%; */
    border-collapse:collapse; 
    table-layout:fixed;
    overflow: scroll;
  }
  .report_table td{ 
    padding:7px; border:#3182bd 1px solid;

  }
  /* provide some minimal visual accomodation for IE8 and below */
  .report_table tr{
    /*background: #b8d1f3;*/
  }

  /*  Define the background color for all the ODD background rows  */
  .report_table tr:nth-child(odd){ 
    background: #eff3ff; /*#99d8c9;*/
  }
  /*  Define the background color for all the EVEN background rows  */
  .report_table tr:nth-child(even){
    background: #9ecae1;  /*#e5f5f9;*/
  }
  .report_table th{ 
    background: #3182bd; /*#2ca25f;*/
    color:#fff;
  }

#div_glyph{
  background-color:white;  //#7FFFD4;
  width: 800px;
  height: 600px;
  position:absolute;
  /*margin: 20px;*/
  padding: 50px;
  z-index: 200;
  visibility: hidden;
  border:10px solid #99d8c9;
  overflow:scroll;
}

#div_narrative{
  float:left;
  width:47%;
  height: 900px;
  background-color:#fff;  //#7FFFD4;
  /*height: auto;*/
  /*position:absolute;*/
  /*margin: 20px;*/
  padding: 5px;
  /*z-index: 200;*/
  /*visibility: hidden;*/
  overflow:scroll;
  border:10px solid black;
}




#closeButton,#closeButtonTable, #closeButtonGlyph{
    position: absolute;
    top: 5px;
    left: 5px;
    /*visibility: hidden;*/
}

#search_div{

  float: right;
}

#div_known{

  float:left;
}


.header_font {
/* Embed this font from Google Fonts at
https://www.google.com/fonts/specimen/Monda */ 
    background-color: #fff;
    /*color: #444;*/
    /*font-family: arial;*/
    font-feature-settings: "'liga' 1";
    font-kerning: auto;
    line-height: 1.5em;
}

#div_buttons{
    visibility: hidden;
}

.container_div{
  background-color:#e5f5f9;
  position:absolute;
  z-index: 200;
  /*padding: 10px;*/
 border:10px solid #99d8c9;
}

#div_zoom{
/*  width: 1000px;
  height: 800px;*/
  overflow:scroll;
  background-color: #fff;

  
}

#div_header{

  /*position: relative;*/
}
#zoom_container{
  visibility: hidden;

}
#div_galaxy{
  /*background-color:#e5f5f9;*/
  position:absolute;
  z-index: 200;
  /*padding: 10px;*/
 border:10px solid #99d8c9;
 visibility: hidden;
}

#galaxy{
  padding:10px;
}
