body 
	background: #FAFAFA

.MainView
	padding-left: 25px
	padding-right: 25px

	&__Loading
		position: relative
		top: 45%
		left: 45%

	&__Cards
		margin-bottom: 20px

	.card
		background: white
		border: 1px solid lightgrey
		padding-left: 20px
		text-align: center

.DndTree
	background: white
	height: 600px
	width: 600px
	border: 1px solid lightgrey