$joyride-beacon-color: #A9B0B7;
$joyride-color: #AA2C3B;

body 
	background: #E9EBEE

.MainView
	padding: 25px
	padding-top: 30px
	
	&__Loading
		position: relative
		top: 35%
		left: 40%

	&__Cards
		margin-bottom: 20px
		margin-top: 70px

.DndGraph, .DndTree
	background: white
	// height: 600px
	// width: 600px
	// border: 1px solid lightgrey

.react-resizable 
	position: relative

.react-resizable-handle
	position: absolute
	width: 20px
	height: 20px
	bottom: 0
	right: 0
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+')
	background-position: bottom right
	padding: 0 3px 3px 0
	background-repeat: no-repeat
	background-origin: content-box
	box-sizing: border-box
	cursor: se-resize

.node text 
  font: 12px sans-serif

div.tooltip 
  opacity: 1
  position: absolute
  text-align: center
  width: 125px
  height: 25px
  padding: 5px
  background: white
  color: black
  cursor: pointer
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
