@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";
@import './layouts/main.sass';
@import './modules/navigation';
@import './modules/navbar.sass';
@import '~react-joyride/lib/react-joyride';

.vis-tooltip {
	position: absolute !important;
	background: white;
	padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}